<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{community/writeLayout}">
<head>
    <title>게시판 글쓰기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<div layout:fragment="content">
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="nav-list" id="nav-all"><a href="/gall"></a></li>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
<body>

<h1>게시판 글쓰기</h1>

    <div>
        <label for="title">제 목</label>
        <input id="title" class="title " type="text" name="subject" maxlength="400" style="width: 100%;">
    </div>
    <div>
        <label for="content">내용</label>
        <textarea id="content" name="content" required style="height: 375px; padding: 8px; width: 100%;" contenteditable="true" ></textarea>
    </div>

    <button type="button">글 작성</button>
<div id="responseMessage"></div>

<script>
    $("button[type=button]").on("click", function() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url ="/api/gall/write";

        const targetURL = '/gall';
        var requestData = {
            title: $("#title").val(),
            content: $("#content").val(),
            memberEmail : "123123"
        };

        $.ajax({
            url      : url,
            type     : "POST",
            data: JSON.stringify(requestData),
            contentType : "application/json",
            beforeSend : function(xhr){
                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result, status){
                console.log(result);

                window.location.href = targetURL;
            },
            error : function(jqXHR, status, error){

                if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/api/gall';
                } else{
                    alert(jqXHR.responseText);
                }
            }
        });
    })
</script>

</script>

</body>
</html>