<!DOCTYPE html>
<html>
<head>
    <title>게시판 글쓰기</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>게시판 글쓰기</h1>

<form id="postForm">F
    <div>
        <label for="title">작성자:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <button type="submit">글 작성</button>
</form>

<div id="responseMessage"></div>

<script>
    function submit(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url ="/api/gall";

        $.ajax({
            url      : url,
            type     : "POST",
            contentType : "application/json",
            beforeSend : function(xhr){
                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result, status){
                console.log(result);
            },
            error : function(jqXHR, status, error){

                if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/api/gall';
                } else{
                    alert(jqXHR.responseText);
                }

            }
        });
    }


</script>
</body>
</html>