<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="/"><i class="fa fa-home"></i>Main</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li sec:authorize="isAnonymous()"><a href="/members/login"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <div class="dropdown">
                            <a class="dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="true">
                                <i class="fa fa-user-o"></i> My Account
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-summary">
                                    <a href="/shop/admin/item/new" style="color: #2B2D42;">
                                        <i class="fa fa-plus"></i> 상품등록
                                    </a>
                                </div>
                                <hr style="background-color: #E4E7ED; margin: 0;" />
                                <div class="cart-summary">
                                    <a href="/shop/admin/items" style="color: #2B2D42;">
                                        <i class="fa fa-list-alt"></i> 상품관리
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a href="/members/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/shop" class="logo">
                                <img th:src="@{/img/logo.png}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-search">
<!--                            <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">-->
<!--                            <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">-->
<!--                                <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>-->
<!--                            </div>-->
                            <form th:action="@{/}" method="get">
                                <input name="searchQuery" class="input" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <div sec:authorize="isAuthenticated()">
                                <a href="/shop/cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <a href="/shop/orders">
                                    <i class="fa fa-check-square"></i>
                                    <span>Purchase</span>
                                    <div class="qty">3</div>
                                </a>
                            </div>
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

</html>