<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="/"><i class="fa fa-home"></i>Main</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li sec:authorize="isAnonymous()"><a href="/members/login"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <div class="dropdown">
                            <a class="dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="true">
                                <i class="fa fa-user-o"></i> My Account
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-summary">
                                    <a href="/shop/admin/item/new" style="color: #2B2D42;">
                                        <i class="fa fa-plus"></i> 상품등록
                                    </a>
                                </div>
<!--                                <hr style="background-color: #E4E7ED; margin: 0;" />-->
<!--                                <div class="cart-summary">-->
<!--                                    <a href="/shop/admin/items" style="color: #2B2D42;">-->
<!--                                        <i class="fa fa-list-alt"></i> 상품관리-->
<!--                                    </a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a href="/members/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>
</html>