<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shop/layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            $("input[name=cartChkBox]").change( function(){
                getOrderTotalPrice();
            });
        });

        function getOrderTotalPrice(){
            var orderTotalPrice = 0;
            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var price = $("#price_" + cartItemId).attr("data-price");
                var count = $("#count_" + cartItemId).val();
                orderTotalPrice += price*count;
            });

            $("#orderTotalPrice").html(orderTotalPrice+'원');
        }

        function changeCount(obj){
            var count = obj.value;
            var cartItemId = obj.id.split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = count*price;
            $("#totalPrice_" + cartItemId).html(totalPrice+"원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, count);
        }

        function checkAll(){
            if($("#checkall").prop("checked")){
                $("input[name=cartChkBox]").prop("checked",true);
            }else{
                $("input[name=cartChkBox]").prop("checked",false);
            }
            getOrderTotalPrice();
        }

        function updateCartItemCount(cartItemId, count){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cartItem/" + cartItemId+"?count=" + count;

            $.ajax({
                url      : url,
                type     : "PATCH",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    console.log("cartItem count update success");
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function deleteCartItem(obj){
            var cartItemId = obj.dataset.id;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cartItem/" + cartItemId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/cart';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function orders(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart/orders";

            var dataList = new Array();
            var paramData = new Object();

            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var data = new Object();
                data["cartItemId"] = cartItemId;
                dataList.push(data);
            });

            paramData['cartOrderDtoList'] = dataList;

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/orders';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

<!--        function count(type){-->

<!--            const resultElement = document.getElementById('result');-->

<!--            let number = resultElement.innerText;-->

<!--            if(type === 'plus'){-->
<!--                number = parseInt(number)+1;-->
<!--            } else if(type === 'minus') {-->
<!--                number = parseInt(number)-1;-->
<!--            }-->

<!--            resultElement.innerText = number;-->
<!--        }-->

    </script>

</th:block>

<div layout:fragment="content">

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-8">
                    <!-- Cart List -->
                    <div id="cart-list">
                        <ol class="basket-list">
                            <li class="cart-basket" th:each="cartItem : ${cartItems}">
                                <div class="basket-info">
                                    <ul class="order-list">
                                        <li class="order-idx">
                                            <div class="item">
                                                <div class="item-check">
                                                    <input type="checkbox" name="cartChkBox" th:id="cartItemId" th:value="${cartItem.cartItemId}">
                                                    <label th:for="cartItemId" class="hidden">상품 선택</label>
                                                </div>
                                                <div class="item-img">
                                                    <img th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--    &lt;!&ndash; NAVIGATION &ndash;&gt;-->
<!--    <nav id="navigation">-->
<!--        &lt;!&ndash; container &ndash;&gt;-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; responsive-nav &ndash;&gt;-->
<!--            <div id="responsive-nav">-->
<!--                &lt;!&ndash; NAV &ndash;&gt;-->
<!--                <ul class="main-nav nav navbar-nav">-->
<!--                    <li class="active"><a href="#">Home</a></li>-->
<!--                    <li><a href="#">Hot Deals</a></li>-->
<!--                    <li><a href="#">Categories</a></li>-->
<!--                    <li><a href="#">Laptops</a></li>-->
<!--                    <li><a href="#">Smartphones</a></li>-->
<!--                    <li><a href="#">Cameras</a></li>-->
<!--                    <li><a href="#">Accessories</a></li>-->
<!--                </ul>-->
<!--                &lt;!&ndash; /NAV &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /responsive-nav &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /container &ndash;&gt;-->
<!--    </nav>-->
<!--    &lt;!&ndash; /NAVIGATION &ndash;&gt;-->

<!--    &lt;!&ndash; CART HEADER &ndash;&gt;-->
<!--    <div id="cart-header">-->
<!--        &lt;!&ndash; container &ndash;&gt;-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; inner-cont &ndash;&gt;-->
<!--            <div class="inner-cont">-->
<!--                <h3>My Cart</h3>-->
<!--            </div>-->
<!--            &lt;!&ndash; /inner-cont &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /container &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /CART HEADER &ndash;&gt;-->

<!--    &lt;!&ndash; CART OPTION &ndash;&gt;-->
<!--    <div id="cart-option">-->
<!--        <ul class="cart-option-box">-->
<!--            <li class="select-all">-->
<!--                <span class="input-custom">-->
<!--                    <input type="checkbox" id="checkall" onclick="checkAll()">-->
<!--                    <label for="checkall">전체선택</label>-->
<!--                </span>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    &lt;!&ndash; /CART OPTION &ndash;&gt;-->

<!--    &lt;!&ndash; CART BODY &ndash;&gt;-->
<!--    <div id="cart-body">-->
<!--        <div class="inner-cont">-->
<!--            <div id="cart-list">-->
<!--                <h3 class="hidden">나의 장바구니 목록</h3>-->
<!--                <ol class="basket-list-group">-->
<!--                    <li class="cart-basket" th:each="cartItem : ${cartItems}">-->
<!--                        <div class="cart-basket-body">-->
<!--                            <div class="shipping-no-group">-->
<!--                                <ul class="order-list">-->
<!--                                    <li class="order-idx">-->
<!--                                        <div class="item">-->
<!--                                            <div class="item-check">-->
<!--                                                <span class="input-checkbox">-->
<!--                                                    <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">-->
<!--                                                    <label th:for="${cartItem.cartItemId}" class="hidden">상품 선택</label>-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                            <div class="item-img">-->
<!--                                                <a th:href="@{/shop/item/{itemId}(itemId=${cartItem.itemId})}">-->
<!--                                                    <img th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}">-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div class="item-info">-->
<!--                                                <dl class="unit-item first">-->
<!--                                                    <dd class="unit-item-desc" th:id="'cart-unit-' + ${cartItem.itemId}">-->
<!--                                                        <div class="section item-title">-->
<!--                                                            <a th:href="@{/shop/item/{itemId}(itemId=${cartItem.itemId})}">-->
<!--                                                                <strong class="hidden">상품명:</strong>-->
<!--                                                                <span class="item-name" th:text="${cartItem.itemNm}"></span>-->
<!--                                                            </a>-->
<!--                                                        </div>-->
<!--                                                    </dd>-->
<!--                                                </dl>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ol>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /CART BODY &ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

</html>