<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{shop/layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var orders = [[${orders}]];
            for (let i = 0; i < orders.content.length; i++) {
                for(let j = 0; j < orders.content[i].orderItemDtoList.length; j++) {
                    const orderItem = orders.content[i].orderItemDtoList[j]
                    if(orderItem.grade) fillStar(orderItem.grade, orderItem.id);
                }
            };
        });
        function fillStar(grade, orderItemId) {
            const $fieldset = document.querySelector(".rate"+orderItemId);
            const labelList = $fieldset?.querySelectorAll("label");

            let tag = false;
            for (let i = labelList.length-1; i >= 0; i--) {
                const label = labelList[i];
                label.style.color = tag ? '#ddd' : '#f73c32';
                if (label.htmlFor[0] === grade) {
                    tag = true;
                }
            }
        }
        function addRating(grade, orderItemId) {
            fillStar(grade, orderItemId);
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var paramData = {
                orderItemId : orderItemId,
                grade: grade
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : "/shop/rating",
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
        function cancelOrder(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/shop/order/" + orderId + "/cancel";
            var paramData = {
                orderId : orderId,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 취소 되었습니다.");
                    location.href='/orders/' + [[${page}]];
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/shop" class="logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/shop}" method="get">
                            <input name="searchQuery" class="input" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div sec:authorize="isAuthenticated()">
                            <a href="/shop/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">[[${cartCount}]]</div>
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a href="/shop/orders">
                                <i class="fa fa-check-square"></i>
                                <span>Order</span>
                                <div class="qty">[[${orderCount}]]</div>
                            </a>
                        </div>
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="nav-list" id="nav-all"><a href="/shop">All</a></li>
                    <li class="nav-list" th:id="'nav-'+${categoryDto.name}" th:each="categoryDto : ${categoryDtoList}">
                        <a th:href="@{'/shop?category='+${categoryDto.name}}" th:inline="text" >
                            [[${categoryDto.name}]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">구매 이력</h3>
                        </div>
                        <div class="row panel panel-default" th:each="order : ${orders.getContent()}">
                            <div class="panel-heading">
                                <div class="mb-3 align-self-center" style="display: flex; align-items: center;">
                                    <h4 style="margin: 0 20px 0 0;" th:text="${order.orderDate} + ' 주문'"></h4>
                                    <div class="ml-3">
                                        <th:block th:if="${order.orderStatus == T(com.example.FootballHuB.constant.OrderStatus).ORDER}">
                                            <button type="button" class="btn btn-danger" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문취소</button>
                                        </th:block>
                                        <th:block th:unless="${order.orderStatus == T(com.example.FootballHuB.constant.OrderStatus).ORDER}">
                                            <h4>(취소 완료)</h4>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div th:each="orderItem : ${order.orderItemDtoList}" class="row">
                                            <div class="repImgDiv col-md-3">
                                                <img style="width: 150px;" th:src="${orderItem.imgUrl}" class = "rounded repImg" th:alt="${orderItem.itemNm}">
                                            </div>
                                            <div class="align-self-center w-65 col-md-9">
                                                <span th:text="${orderItem.itemNm}" class="fs24 font-weight-bold"></span>
                                                <div class="fs18 font-weight-light">
                                                    <span th:text="${orderItem.orderPrice} +'원'"></span>
                                                    <span th:text="${orderItem.count} +'개'"></span>
                                                </div>
                                                <div>
                                                    <fieldset th:class="'rate rate' + ${orderItem.id}" th:if="${order.orderStatus == T(com.example.FootballHuB.constant.OrderStatus).ORDER}">
                                                        <input type="radio" th:class="rating+${orderItem.id}" th:id="5rating+${orderItem.id}" name="rating" value="5" th:onchange="addRating(this.value, [[${orderItem.id}]])"><label th:for="5rating+${orderItem.id}" title="1점"></label>
                                                        <input type="radio" th:class="rating+${orderItem.id}" th:id="4rating+${orderItem.id}" name="rating" value="4" th:onchange="addRating(this.value, [[${orderItem.id}]])"><label th:for="4rating+${orderItem.id}" title="2점"></label>
                                                        <input type="radio" th:class="rating+${orderItem.id}" th:id="3rating+${orderItem.id}" name="rating" value="3" th:onchange="addRating(this.value, [[${orderItem.id}]])"><label th:for="3rating+${orderItem.id}" title="3점"></label>
                                                        <input type="radio" th:class="rating+${orderItem.id}" th:id="2rating+${orderItem.id}" name="rating" value="2" th:onchange="addRating(this.value, [[${orderItem.id}]])"><label th:for="2rating+${orderItem.id}" title="4점"></label>
                                                        <input type="radio" th:class="rating+${orderItem.id}" th:id="1rating+${orderItem.id}" name="rating" value="1" th:onchange="addRating(this.value, [[${orderItem.id}]])"><label th:for="1rating+${orderItem.id}" title="5점"></label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="store-filter clearfix" th:with="start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
        <ul class="store-pagination">
            <li class="page-item" th:classappend="${orders.number eq 0}?'disabled':''">
                <a th:href="@{'/shop/orders/' + ${orders.number-1}}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${orders.number eq page-1}?'active':''">
                <a th:href="@{'/shop/orders/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>
            <li th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">
                <a th:href="@{'/shop/orders/' + ${orders.number+1}}"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</div>

</html>