<!--
    Date: 2023.10.02
    Author: 이지윤
    E-mail: jiyoon321@gmail.com
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/shop/bootstrap.min.css}" />
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/shop/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/shop/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/shop/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" th:href="@{/css/shop/font-awesome.min.css}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/shop/style.css}"/>

</head>

    <body>
        <div class="site-wrap">
            <div th:replace="shop/fragments/header::header"></div>
            <div layout:fragment="content" class="content"></div>
            <div th:replace="fragments/footer::footer"></div>
        </div>
        <!-- jQuery Plugins -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/nouislider.min.js}"></script>
        <script th:src="@{/js/jquery.zoom.min.js}"></script>
        <script th:src="@{/js/main-shop.js}"></script>
    </body>
</html>
