<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{shop/layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        var reviewCount = 0;
        $(document).ready(function(){
            calculateToalPrice();
            getCommentList();
            $("#commentForm").on("click",function(e) {
                e.preventDefault();
            });

            $("#count").change( function(){
                calculateToalPrice();
            });
        });

        const setReviewCount = () => {
            const $reviewCount = $('#reviewCount');
            $reviewCount[0].innerText = reviewCount;
        }

        function getCommentList() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var url = "/shop/comment/" + $("#itemId").val();
            $.ajax({
                url      : url,
                type     : "GET",
                contentType : "application/json",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    reviewCount = result.length;
                    setReviewCount();
                    for(let i = 0; i < reviewCount; i++) {
                        addCommentEle(result[i]);
                    }
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function calculateToalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price*count;
            $("#totalPrice").html(totalPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/shop/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/shop';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }
        function addComment() {
        var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/shop/comment";
            var paramData = {
                itemId : $("#itemId").val(),
                content : $("#comment").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    addCommentEle(result);
                    reviewCount++;
                    setReviewCount();
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }
        function addCommentEle(obj) {
            const reviewList = document.querySelectorAll('.reviews');
            const newReview = document.createElement('li');
            newReview.innerHTML = `
                <div class="review-heading">
                    <h5 class="name">${obj.email}</h5>
                    <p class="date">${obj.regTime}</p>
                </div>
                <div>
                   <p>${obj.content}</p>
                </div>
            `;
            reviewList[0].appendChild(newReview);
        }
        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/shop/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/shop" class="logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/shop}" method="get">
                            <input name="searchQuery" class="input" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div sec:authorize="isAuthenticated()">
                            <a href="/shop/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">[[${cartCount}]]</div>
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a href="/shop/orders">
                                <i class="fa fa-check-square"></i>
                                <span>Order</span>
                                <div class="qty">[[${orderCount}]]</div>
                            </a>
                        </div>
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="nav-list" id="nav-all"><a href="/shop">All</a></li>
                    <li class="nav-list" th:id="'nav-'+${categoryDto.name}" th:each="categoryDto : ${categoryDtoList}">
                        <a th:href="@{'/shop?category='+${categoryDto.name}}" th:inline="text" >
                            [[${categoryDto.name}]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <input type="hidden" id="itemId" th:value="${item.id}">

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview" th:each="itemImgDto : ${item.itemImgDtoList}">
                            <img th:src="${itemImgDto.imgUrl}" class = "rounded repImg" alt="item detail image">
                        </div>
                    </div>
                </div>
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview" th:each="itemImg : ${item.itemImgDtoList}">
                            <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name" th:text="${item.itemNm}"></h2>
                        <div>
                            <div class="product-rating">
                                <i th:classappend="${item.rating >= 1} ? 'fa fa-star' : 'fa fa-star-o'"></i>
                                <i th:classappend="${item.rating >= 2} ? 'fa fa-star' : 'fa fa-star-o'"></i>
                                <i th:classappend="${item.rating >= 3} ? 'fa fa-star' : 'fa fa-star-o'"></i>
                                <i th:classappend="${item.rating >= 4} ? 'fa fa-star' : 'fa fa-star-o'"></i>
                                <i th:classappend="${item.rating >= 5} ? 'fa fa-star' : 'fa fa-star-o'"></i>
                            </div>
                        </div>
                        <div>
                            <div class="product-price">
                                <input type="hidden" th:value="${item.price}" id="price" name="price">
                                <span th:text="${item.price}"></span>원
                            </div>
                            <span th:if="${item.itemSellStatus == T(com.example.FootballHuB.constant.ItemSellStatus).SELL}" style="background-color: #FDBE33;" class="badge badge-primary mgb-15">
                                판매중
                            </span>
                            <span th:unless="${item.itemSellStatus == T(com.example.FootballHuB.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
                                품절
                            </span>
                        </div>
                        <p th:text="${item.itemDetail}"></p>

                        <div class="add-to-cart">
                            <div class="qty-label">
                                <span class="input-group-text">수량</span>
                                <div class="input-number input-group-prepend">
                                    <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="text-right mgt-50">
                                <h5>결제 금액</h5>
                                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                            </div>
                            <div th:if="${item.itemSellStatus == T(com.example.FootballHuB.constant.ItemSellStatus).SELL}" class="text-right">
                                <button type="button" class="btn btn-warning btn-lg" onclick="addCart()">장바구니</button>
                                <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
                            </div>
                            <div th:unless="${item.itemSellStatus == T(com.example.FootballHuB.constant.ItemSellStatus).SELL}" class="text-right">
                                <button type="button" class="btn btn-danger btn-lg">품절</button>
                            </div>
                    </div>
                </div>
                </div>
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li><a data-toggle="tab" href="#tab1">Reviews (<span id="reviewCount">0</span>)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            <li th:each="commentHistDto : ${commentHistDtoList}">
                                                <div class="review-heading">
                                                    <h5 class="name">[[${commentHistDto.email}]]</h5>
                                                    <p class="date">[[${commentHistDto.regTime}</p>
                                                </div>
                                                <div class="review-body">
                                                    <p>[[${commentHistDto.content}]]</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="reviews" sec:authorize="isAuthenticated()">
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name" sec:authentication="Principal.username"></h5>
                                                </div>
                                                <div class="review-body">
                                                    <form id="commentForm" style="display: flex;">
                                                        <textarea style="flex-grow: 1;" cols="50" rows="3" id="comment"></textarea>
                                                        <input type="submit" value="Submit" onclick="addComment()">
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>