<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shop/layouts/layout}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li><a href="/shop" class="active">All</a></li>
<!--                    <li th:each="categoryDto : ${categoryDtoList}"><a th:href="@{'/shop' +'?category=' + ${categoryDto.name}" th:text="${categoryDto.name}"></a></li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="section">
        <div class="container">
            <div class="row">
                <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col-md-3 col-xs-4">
                        <a th:href="'/shop/item/' +${item.id}">
                            <div class="product">
                                <div class="product-img">
                                    <img th:src="${item.imgUrl}" th:alt="${item.itemNm}">
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name"><a href="#">[[${item.itemNm}]]</a></h3>
                                    <h4 class="product-price">[[${item.price}]]원</h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn add-to-cart-btn-cart">장바구니</button>
                                    <button class="add-to-cart-btn add-to-cart-btn-purchase">구입</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center;" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>
            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>